.container {
    width: 1376px;
    height: 1278px;
    margin: 120px auto;
}

.projects {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 445px);
    grid-template-rows: repeat(2, 580px);
    gap: 20px;
}