.container {
  width: 1376px;
  height: 1278px;
  margin: 120px auto;
}

.projects {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 445px);
  grid-template-rows: repeat(2, 580px);
  gap: 20px;
}

@media (max-width: 375px) {
  .container {
    width: 524px;
    height: 387px;
    margin: 48px 0 0 16px;
  }

  .projects {
    margin-top: 20px;
    grid-template-rows: 387px 0;
    grid-template-columns: repeat(2, 252px);
  }

  .projects > div > img {
    width: 252px;
    height: 328px;
  }

  .projects > div:nth-of-type(3) > img,
  .projects > div:nth-of-type(4) > img,
  .projects > div:nth-of-type(5) > img,
  .projects > div:nth-of-type(6) > img {
    display: none;
  }
}
