.container {
    width: 1376px;
    height: 980px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 66px 870px;
    gap: 44px 140px;
}

.steps {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto;
    gap: 24px ;
}


.container > p {
    text-align: left;
    width: 325px;
}