.container {
  width: 100%;
  height: 684px;
  background: black;
  margin-top: 90px;
  padding: 90px 384px;
  display: grid;
  grid-template-rows: auto 332px 300px;
  grid-row-gap: 32px;
}

.title {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-column-gap: 16px;
  align-items: center;
  color: white;
}

.counters {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 56px);
  grid-column-gap: 26px;
}

.counters > button:nth-of-type(5),
.counters > button:nth-of-type(6) {
  display: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .container {
    padding: 36px 0 0 12px;
    display: grid;
    grid-template-rows: 30px 134px 30px;
    gap: 32px;
    height: 350px;
  }

  .title > h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .title > img {
    height: 24px;
    width: 24px;
  }

  .title {
    grid-template-columns: 24px 1fr;
    gap: 8px;
  }

  .counters > button:nth-of-type(5),
  .counters > button:nth-of-type(6) {
    display: block;
  }

  .counters {
    display: flex;
    gap: 12px;
    grid-row-start: 3;
    justify-content: flex-start;
    margin-left: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    padding: 90px 0 0 36px;
  }

  .counters {
    justify-content: center;
    margin-right: 250px;
  }
}
