.container {
  width: 320px;
  display: flex;
}

.item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ededf2;
  margin-right: 8px;
}

.item:hover {
  background-color: #46f4db;
}
