.container {
    width: 1376px;
    height: 425px;
    margin: 120px auto;
    display: grid;
    grid-template-rows: 66px 327px ;
    grid-template-columns: repeat(3, 445px);
    gap: 20px;
}

.container > h2 {
    grid-column: 1 / span 4;
}