.container {
  width: 1280px;
  height: 300px;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 300px auto 1fr;
  grid-column-gap: 16px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 132px);
    overflow-x: hidden;
    grid-template-rows: 134px;
  }

  .container > img {
    width: 132px;
    height: 132px;
  }

  .container > img:nth-of-type(3) {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    gap: 21px;
    grid-template-columns: repeat(2, 233px) 1fr;
  }
  .container > img:nth-of-type(1),
  .container > img:nth-of-type(2) {
    width: 233px;
    height: 233px;
  }

  .container > img:nth-of-type(3) {
    width: 465px;
    height: 223px;
  }
}
