@font-face {
    src: url("../shared/fonts/Satoshi-Regular.otf");
    font-family: Satoshi;
}

@font-face {
    src: url("../shared/fonts/ClashDisplay-Regular.otf");
    font-family: Clash Display;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
