@font-face {
  src: url("../shared/fonts/Fontfabric - MullerRegular.otf");
}

@font-face {
  src: url("../shared/fonts/RussoOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*стили для заголовков*/

h1 {
  font-family:
    Russo One,
    sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
}
