header {
  width: 1376px;
  height: 108px;
  display: grid;
  grid-template-columns: 584px 108px 140px;
  gap: 207px;
  margin: 12px auto;
}

header > img:nth-of-type(1) {
  margin-right: 861px;
  cursor: pointer;
}

header > img:nth-of-type(2) {
  display: none;
}

header > nav {
  display: grid;
  grid-template-columns: 98px;
  grid-template-rows: repeat(4, 21px);
  gap: 8px;
  text-align: left;
  cursor: pointer;
}

@media (max-width: 375px) {
  header {
    width: 100%;
    height: 41px;
    grid-template-columns: 39px 24px;
    gap: 245px;
    align-items: center;
    padding-left: 16px;
  }

  header > nav {
    display: none;
  }

  header > img:nth-of-type(1) {
    width: 39px;
    height: 41px;
    margin: 0;
  }

  header > img:nth-of-type(2) {
    display: block;
    cursor: pointer;
  }

  header > p {
    display: none;
  }
}
