.container {
    width: 1376px;
    height: 46px;
    margin: 120px auto;
    display: grid;
    grid-template-rows: 21px 1fr;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    cursor: pointer;
}


.container > p:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 2;
}

.container > p:nth-of-type(5) {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 135px;
}

.container > p:nth-of-type(3) {
    grid-row-start: 2;
}

.container > p:nth-of-type(4) {
    grid-column-start: 3;
    grid-row-start: 2;

}