.container {
    width: 1280px;
    height: 584px;
    background-color: #2A254B;
    margin: 60px auto;
    padding: 60px;

    &_heading {
        width: 513px;
        height: 187px;

        h2 {
            font-family: Clash Display, sans-serif;
            font-size: 32px;
            color: #FFFFFF;
            font-weight: 400;
            line-height: 45px;
        }

        button {
            width: 170px;
            height: 56px;
            margin-top: 41px;
            background-color: #F9F9F926;
            border: 0;
            font-family: Satoshi, sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            font-weight: 400;
            cursor: pointer;
        }
    }

    p {
        width: 602px;
        font-family: Satoshi, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: white;
        margin-top: 198px;
    }

    img {
        position: relative;
        top: -526px;
        left: 60.5%;
    }
}